@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size:1.6rem;
    position: absolute;
    
}
html {
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
}

.logo {
    font-size: 22px;
    font-size: 2.2rem;
    letter-spacing: 0.55rem;
}

.main p {
    width: 100%;
    max-width: 900px;
    background: red;
}

a {
    text-decoration: none;
    color: #222222;
}

.img-main {
    height: 100vh;
    position: relative;
    background-size: cover;
    width: 100%;
}





header {
  width: 100%;
  height: 100vh;
  background: url("../img/main.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

header div {
    width: 1110px;
    margin: 0 auto; 
}

header div p {
      max-width: 550px;
      text-align: right;
      font-family: roboto;
      font-weight: 300;
      float: right;
      font-size: 24px;
      font-size: 1.5rem;
      padding: 0;
      margin: 0 0 100px; 
}

@media (min-width: 0) and (max-width: 1150px) 
{
      header div {
        width: 100%;
        margin: 0 20px; }
      header div p {
          margin: 0 auto 100px;
          text-align: center; 
    } 
}








.description-title {
    padding-top: 290px;
    color: darkgray;
    font-size: 30px;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.description-text {
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 300px;
}

.wrapper2 {
    padding-bottom: 300px;
}
.btn {
    padding: 15px 35px 15px 35px;
    border: 2px solid black;
    margin: 0 auto;
    font-weight: bold;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    float: left;
}

.portfolio-items-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    float: left;
    padding-bottom: 190px;
}


.item {
    width: 33.33%;
    height: 50vh;
}
.item-1 {
    background-image: url('../img/project-1.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.item-2 {
    background-image: url('../img/project-2.png');
}
.item-3 {
    background-image: url('../img/project-3.png');
}
.item-4 {
    background-image: url('../img/project-4.png');
}
.item-5 {
    background-image: url('../img/project-5.png');
}
.item-6 {
    background-image: url('../img/project-6.png');
}



.quote-text {
    text-align: center;
/*    width: 720px;*/
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 24px;
    color: darkgray;
    padding-bottom: 190px;
}


.wrapper-news {
    width: 100%;
    display: flex;
}

.buttons {
    height: 100%;
    background-image: url('../img/blue-buttons.png');
    background-size:cover;
}

.news {
    height: 100%;
    float: left;
    width: 50%;     
}

.inside-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 400px;
    
}

.news-title {
    font-size: 12px;
    font-size: 1.2rem;
    color: #290a59;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.55rem;
    line-height: 2.5rem;
    font-weight: 400px;
}

.news-text {
    color: #6d6081;
    font-family: 'Roboto', serif;
    font-weight: 300;
    line-height: 2.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    
}

.news-2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.flex-articles {
    display: flex; 
    flex-wrap: nowrap;
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-around;
}

.art {
    font-family: 'Roboto', serif; 
    text-align: center;
    margin-bottom: 130px;
    
}
@media (min-width: 0) and (max-width: 799px)
{
    .wrapper-news {
        flex-direction: column;
        height: 1000px;
    }
    .buttons, .news {
        width: 100%;
    }
    .inside-news {
        margin: 0 auto;
        max-width: 450px;
        margin-top: 50px;
    }
    .news-title, .news-text {
        text-align: center;
    }
}

@media (min-width: 0) and (max-width: 600px)
{
    .quote-text {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (min-width: 800px) /*and (max-width: 899px)*/ /*od 800px do nieskonczonosci */
{
    .wrapper-news {
        flex-direction: row;
        height: 720px;
        justify-content: baseline;
    }
    .buttons, .news {
        width: 50%;
    }
    .inside-news {
        padding-top: 150px;
        padding-left: 30px;
        
    }
    .art-title {
        padding-bottom: 50px;
    }
    .art-text {
        padding-bottom: 50px;
    }
    
}

@media (min-width: 0) and (max-width: 479px) /* do 899px */
{
    .map {
        width: 290px;
    }
    .wrapper-1110-footer {
        flex-direction: column;
    }
    .icons, .copyrights {
        width: 100%;
        text-align: center;  
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

@media (min-width: 480px)
{
    
    .wrapper-1110-footer {
        flex-direction: row;
    }
    .icons, .copyrights {
        width: 50%;
        padding: 0;
        padding-bottom: 40px;
        padding-top: 50px;
    }
    .icons {
        text-align: left;
    }
    .copyrights {
        text-align: right;
    }
}

@media (min-width: 480px) and (max-width: 700px) /* do 700px */
{
    .map {
        width: 400px;
    }
}

@media (min-width: 700px) and (max-width: 899px) /* do 899px */
{
    .map {
        width: 600px;
    }
}


@media (max-width: 899px) /* do 899px */
{
    .flex-articles {
        flex-direction: column;
        width: 90%; /*da nam paddingi po lewej i prawej stronie, po rowno */
        margin-top: 100px;
    }
    
    .art {
        margin-bottom: 40px;
        margin-top: 0px;
    }
    .inside-news {
        
    }
    .wrapper-1110 {
        width: 90%;
        flex-direction: column;
    }
    .bg-map, .bg-wrapper {
        width: 100%;
    }
    .map {
        margin: 0 auto;
    }
    .bg-text {
        text-align: center;
        width: 100%;
    }
    .contact-bg {
        height: auto;
    }
    
    .wrapper-1110-footer {
        width: 90%;
    }
    .art-title, .art-text {
        padding-bottom: 20px;
    }
    .art-title {
        padding-top: 50px;
    }
}



@media (min-width: 900px) /* od 900px */
{
    .flex-articles {
        flex-direction: row;
        color: #222222;
        
    }
    .art {
        width: 30%;
        margin-top: 140px;
    }
    .wrapper-1110 {
        flex-direction: row;
        width: 90%;
    }
    .wrapper-1110-footer {
        width: 90%;
    }
    .bg-map, .bg-wrapper {
        width: 50%;
    }
    .bg-text {
        width: 350px;
    }
    .contact-bg {
        height: 470px;
    }
    .map {
        width: 540px;
    }
    
}


@media (min-width: 1100px) /* od 900px */
{
    .inside-news {
        padding-left: 130px;
    }
}


.art-item-2 {
    padding-left: 150px;
    padding-right: 150px;
}

.art-title {
    font-family: 'Roboto', serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    font-size: 1.5rem;
}

.art-text {
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
}

.art-link {
    color: #4eaeff;
    text-decoration: underline;
}

.contact-bg {
    background-color: #353535;
    
}

.wrapper-1110 {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wrapper-1110-footer {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.bg-text {
    color: white;
    
    font-weight: 300;
    padding-top: 100px;
    line-height: 2.2rem;
}

.phone-text {
    padding-top: 35px;
    padding-bottom: 35px;
}





.icons {
    height: 30px;
    color: #444444;
    letter-spacing: 1.2rem;
    font-size: 2.2rem;
}

.copyrights {
    color: darkgray;
}













/*********************************************************************/

.nav-container {
    margin: 0 auto;
    width: 100%;
    height: 180px;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}


li:first-child {
    padding-left:4px;
}

li:last-child {
    padding-right:0px;
}

/************************************************************************/












/* Nav Menu */

ul {
    height: 50px;
    width: 712px;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.35rem;
    transition: all 0.5s ease;
}

.nav-menu {
    margin: 0 auto;
    width: 100%;
    height: 180px;
    position: fixed;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
}

.sticky {
    height: 60px;
}

.sticky-ul {
    padding-top: 20px;
}

ul li {
	float: left;
    list-style-type: none;
    margin: 0 auto;
    text-align: : center;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}



.hamburger {
	display: none;
}

@media screen and (max-width: 720px) {
	
	.hamburger {
		display: block;
		color: #222222;
		background: transparent;
		padding: 10px;
		text-align: right;
		font-size: 83%;
		cursor: pointer;
        position: fixed;
	}
	
	div.nav-menu {
		display: none;
        height: 220px;
        top: 50px;
	}
	
	div.nav-expanded {
		display: block;
	}
    
	div.nav-menu ul li {
		float: none;
		padding-left: 30px;
        padding-right: 0;
        font-size: 16px;
        line-height: 2.2rem;
        text-align: left;
	}
	
	div.nav-menu ul li:last-child {
		border-bottom: none;
	}
	
    .hamb-bg {
        display: block;
    }
    ul {
        padding-top: 50px;
    }
}



@media screen and (min-width: 721px) {
    .hamb-bg {
        display: none;
    }
}



.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }








.hamb-bg {
    background-color: #fff;
    height: 50px;
    position: fixed;
    width: 100%;
}

body {
    background-color: white;
}

.hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #333333;
    transition: 0.3s transform linear;
    z-index: 1000;
    margin-top: 5px;
    margin-left: 5px;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #333333;
  transform: translateY(10px);
}

.hamburger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}


.najechanie {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.zjechanie {
  transform: rotate(-90deg) translateX(-10px);
}


